<div style="text-align:center">

    <a href="/" class="btn btn-primary mt-3" id="nav-button-home">Accueil</a>
    <a href="/member/account" class="btn btn-primary mt-3" id="nav-button-account">Compte</a>
    <a href="/member/disconnection" class="btn btn-primary mt-3" id="nav-button-disconnection">Déconnexion</a>
    <a href="/admin" class="btn btn-primary mt-3" id="nav-button-admin">Admin</a>
</div>