* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #dbdbdb;
}
::selection{
    color: #fff;
    background: black;
}
.grecaptcha-badge { z-index : 10 ; }

/* NAV */
.nav-li{margin-top: 10px;}
.navigation-bar{background-color:#002f46}
#menu-compte{margin-right: 10px;}


#img-article{max-width: 90%;}

#avatar{width: 64px;border-radius: 32px;}
#envelope{width: 40px; margin-left:15px;margin-right:15px;}
.item {
    position:relative;
    padding-top:10px;
    display:inline-block;
}
.notify-badge{
    margin-right:10px;
    position: absolute;
    right:-10px;
    top:5px;
    background:red;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:2px 5px;
    font-size:10px;
}
#nb-msgs{
    border-radius: 50%;
    margin-left:2px;
    background-image: "/static/images/icons/envelope.png";
}
#text-center{text-align: center;}

a{color : black}

fieldset.form-group {
    border: 1px groove black !important;
    border-radius: 2px;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
fieldset.form-group label {
    /*font-size: 1.5em;*/
}
legend {
    font-size: 2em;
    width:auto!important;
    padding:0 10px;
    border-bottom:none;
}

@media screen and (max-width:700px){
    #avatar{
        position: absolute;
        right:5%;
        top : 5%
        }
        #envelope{margin-left:0px}

}