* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #f6f6f6;
}
/* Headers */
#adminHeader{
    background-color: #004f75;
}
/* NAV */
.nav-li{
    margin-top: 10px;
}
#menu-compte{
    margin-right: 10px;
}
#img-article{
    max-width: 90%;
  }



a{
    color : black
}


#avatar{
    width: 64px;
    border-radius: 32px;

}
#text-center{
    text-align: center;
}


fieldset.form-group {
    border: 1px groove black !important;
    border-radius: 2px;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
fieldset.form-group label {
    /*font-size: 1.5em;*/
}
legend {
    font-size: 2em;
    width:auto!important;
    padding:0 10px;
    border-bottom:none;
}
