<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/articles/post.css">
    <title>French Gaming Family</title>
</head>

<body>
    <%- include ('../include/nav.ejs'); -%>
        <h1 class="mb-5 text-center">Espace de rédaction</h1>

        <div class="container-fluid">
            <section>
                <fieldset class="form-group">
                    <legend>Informations</legend>
                    <ul>
                        <li>Les images : le format recommandé est de 1920x1080.Le format minimum conseillé est de
                            1280x720.<br>Si votre image n'est pas au bon format,votre publication peut se voir refusée.
                        </li><br>
                        <li>Les paragraphes : Vous pouvez mettre en page vos articles grace au wysiwyg ou à l'aide d'une
                            autre plateforme.</li><br>
                        <li>Les vidéos: Les seules vidéos autorisées sont les vidéos youtube.Vous devez copier/coller le
                            lien de la vidéo pour pouvoir l'envoyer.</li>
                    </ul>
                </fieldset>
                <form action="../models/articles.php" method="post" class="mt-5" id="create_form"
                    enctype="multipart/form-data">

                    <fieldset class="form-group">
                        <legend>Type d'article</legend>
                        <div class="form-group d-flex flex-column">
                            <label for="se_cat">Catégorie de votre article :</label>
                            <select id="se_cat" name="se_cat">
                                <option value="1">Console</option>
                                <option value="2">Jeux</option>
                                <option value="3">Informatique</option>
                                <option value="4">Musique</option>
                                <option value="5">Partenaires</option>
                                <option value="6">Divers</option>
                            </select>
                        </div>
                    </fieldset>

                    <fieldset class="form-group">
                        <legend>Votre article</legend>
                        <div class="form-group d-flex flex-column">
                            <label for="in_title">Le titre de votre article</label>
                            <input type="text" class="form-control" id="in_title" name="in_title" placeholder="Titre">


                            <label style="font-size:20px;" for="ta_article">Ecrivez ci-dessous votre article :</label>
                            <input type="hidden" name="ta_article" id="ta_article" value="">
                            <div id="editparent">
                                <div id='editControls' class="mb-2">

                                    <div class='button-group'>
                                        <a class='button button-secondary' data-role='undo' href='#'><i
                                                class="fas fa-undo-alt"></i></a>
                                        <a class='button button-secondary' data-role='redo' href='#'><i
                                                class="fas fa-redo-alt"></i></a>
                                    </div>

                                    <div class='button-group'>
                                        <a class='button button-secondary' data-role='bold' href='#'><b>Bold</b></a>
                                        <a class='button button-secondary' data-role='italic'
                                            href='#'><em>Italic</em></a>
                                        <a class='button button-secondary' data-role='underline'
                                            href='#'><u><b>U</b></u></a>
                                        <a class='button button-secondary' data-role='strikeThrough'
                                            href='#'><strike>abc</strike></a>
                                    </div>

                                    <div class='button-group'>
                                        <a class='button button-secondary' data-role='justifyLeft' href='#'><i
                                                class="fas fa-align-left"></i></a>
                                        <a class='button button-secondary' data-role='justifyCenter' href='#'><i
                                                class="fas fa-align-center"></i></a>
                                        <a class='button button-secondary' data-role='justifyRight' href='#'><i
                                                class="fas fa-align-right"></i></a>
                                        <a class='button button-secondary' data-role='justifyFull' href='#'><i
                                                class="fas fa-align-justify"></i></a>
                                    </div>

                                    <div class='button-group' id="none">
                                        <a class='button button-secondary' data-role='indent' href='#'><i
                                                class="fas fa-indent"></i></a>
                                        <a class='button button-secondary' data-role='outdent' href='#'><i
                                                class="fas fa-outdent"></i></a>
                                    </div>

                                    <div class='button-group' id="none">
                                        <a class='button button-secondary' data-role='insertUnorderedList' href='#'><i
                                                class="fas fa-list-ul"></i></a>
                                        <a class='button button-secondary' data-role='insertOrderedList' href='#'><i
                                                class="fas fa-list-ol"></i></a>
                                    </div>

                                    <div class='button-group' id="none">
                                        <a class='button button-secondary' data-role='h1' href='#'>h<sup>1</sup></a>
                                        <a class='button button-secondary' data-role='h2' href='#'>h<sup>2</sup></a>
                                        <a class='button button-secondary' data-role='p' href='#'>p</a>
                                    </div>

                                    <div class='button-group' id="none">
                                        <a class='button button-secondary' data-role='subscript' href='#'><i
                                                class="fas fa-subscript"></i></a>
                                        <a class='button button-secondary' data-role='superscript' href='#'><i
                                                class="fas fa-superscript"></i></a>
                                    </div>
                                </div>

                                <div id='editor' contenteditable>

                                </div>
                            </div>
                        </div>
                    </fieldset>



                    <!--<div class="g-recaptcha" data-sitekey="6Lc2VNsUAAAAACUt1YxoQYnV2KuxwWumlQETVM_E"></div>-->

                    <button id="button_submit" type="submit" class="button button-primary"
                        onclick="upload_image();">Envoyer</button>
                </form>
            </section>

        </div>






        <%- include('../include/footer.ejs') %>
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
                integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
                crossorigin="anonymous"></script>
</body>

</html>