@import '../theme-variable.css';
#container{
    background-color: var(--container-color);
    width: 98%;
    margin-left: 1%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
    margin-top: 15px;
}
/*.image{
    box-shadow: 0px 3px 10px black;
}*/

/*.hvrbox,
.hvrbox * {
    padding: 3px;
    box-sizing: border-box;
}
.hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.hvrbox img {
    max-width: 100%;
}
.hvrbox_background {
    width: 400px;
    height: 100px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.hvrbox .hvrbox-layer_bottom {
    display: block;
}
.hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
    opacity: 1;
}


.hvrbox.active .hvrbox-text_mobile {
    display: block;
}
.hvrbox .hvrbox-layer_image {
    padding: 0;
    background: none;
}
.hvrbox .hvrbox-layer_slideup {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}
.hvrbox:hover .hvrbox-layer_slideup,
.hvrbox.active .hvrbox-layer_slideup {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}*/


#buttons-page{
    text-align: center;
    background-color: var(--container-color); ;
    margin-bottom: 15px;
    width : 98%;
    margin-left: 1%;
    padding: 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}


.image {
  height: 250px;
  width: auto;
  padding: 1px;
  margin-top: 5px;
  box-shadow: 2.5px 2.5px 2.5px black;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

}

.image:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
@media screen and (max-width : 550px){
    .image{
        box-shadow: 0px 3px 10px black;
        width:90%;
        height:auto;
    }
}