#container{
    max-width: 70%;
    background-color: #ffffff;
    margin-left: 15%;
    padding: 10px;

}
#image{
    width: 480px;
    height: 268px;
}

#form-update{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
#btn-send{
    padding: 5px;
}