#container{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    flex-wrap: wrap;
}

.categorie{
    margin-top: 10px;
    height: 300px;
    border: 1px black solid ;
    width: 25%;
    min-width: 320px;
    padding: 5px;
    position: relative
}

.icon{
    width: 15%;
    border: 1px black solid;
}

.button-view-forum{
    position: absolute;
    bottom:2%;
    right:2%;
}