<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%- include ('../include/bootstrap/bootstrap.css.ejs'); -%>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/admin/index.css">

    <title>French Gaming Family</title>
</head>

<body>
  <%- include ('../include/nav.ejs'); -%>
    <main role="main">

      <div id="container">
        <% console.log(permissions); %>
          <% if(permissions.includes('ADMINISTRATOR') || permissions.includes('STAFF')){%>
            <div class="staff-module">
              <h3 class="cat-title"><img src="/static/images/icons/icon_information.svg" alt="icon" class="icon">&nbsp;
                Informations</h3>
              <hr>
              <p class="cat-description">Donne des informations sur le fonctionnement des 9 modules d'administration
                du
                site.</p> <br>
              <a href="/admin/infos" class="button button-danger button-view">Gérer</a>
            </div>
            <%} if(permissions.includes('ADMINISTRATOR') || permissions.includes('STAFF')){%>

              <div class="staff-module">
                <h3 class="cat-title"><img src="/static/images/icons/icon_resources.svg" alt="icon" class="icon">&nbsp;
                  Resources</h3>
                <hr>
                <p class="cat-description">Documents associés au site. <br>-Documents pdf des formulaires
                  <br>-Documents
                  images des icons
                </p>
                <a href="/admin/resources" class="button button-danger button-view">Gérer</a>
              </div>
              <%} if(permissions.includes('ADMINISTRATOR') || permissions.includes('STAFF')){%>
                <div class="staff-module">
                  <h3 class="cat-title"><img src="/static/images/icons/icon_procedures.svg" alt="icon"
                      class="icon">&nbsp;
                    Procédures</h3>
                  <hr>
                  <p class="cat-description">Procédures de gestion du site et des membres. </p> <br>
                  <a href="/admin/procedures" class="button button-danger button-view">Gérer</a>
                </div>
                <% } if(permissions.includes('ADMINISTRATOR') || permissions.includes('MANAGE_MEMBERS')){%>
                  <div class="staff-module">
                    <h3 class="cat-title"><img src="/static/images/icons/icon_member.svg" alt="icon" class="icon">&nbsp;
                      Membres
                    </h3>
                    <hr>
                    <p class="cat-description">Gestion des membres du site.<br>-Ajouter un membre<br>-Modifier un
                      membre<br>-Bannir un membre<br>-Supprimer un membre</p>
                    <a href="/admin/members/1" class="button button-danger button-view">Gérer</a>
                  </div>
                  <%} if(permissions.includes('ADMINISTRATOR') || permissions.includes('MANAGE_ANNOUNCEMENTS')){%>
                    <div class="staff-module">
                      <h3 class="cat-title"><img src="/static/images/icons/icon_announcement.svg" alt="icon"
                          class="icon">&nbsp;
                        Annonces</h3>
                      <hr>
                      <p class="cat-description">Gestion des annonces du site.<br>-Ajouter une
                        annonce<br>-Modifier une
                        annonce<br>-Supprimer une annonce</p>
                      <a href="/admin/announcements/1" class="button button-danger button-view">Gérer</a>
                    </div>
                    <%} if(permissions.includes('ADMINISTRATOR') || permissions.includes('MANAGE_ARTICLES')){%>
                      <div class="staff-module">
                        <h3 class="cat-title"><img src="/static/images/icons/icon_article.svg" alt="icon"
                            class="icon">&nbsp;
                          Articles
                        </h3>
                        <hr>
                        <p class="cat-description">Gestion des articles du site.<br>-Ajouter un
                          article<br>-Approuver un
                          article<br>-Modifier un article<br>-Supprimer un article</p>
                        <a href="/admin/articles/1" class="button button-danger button-view">Gérer</a>
                      </div>
                      <%}%>
                        <% if(permissions.includes('ADMINISTRATOR') || permissions.includes('MANAGE_ALBUM')){%>
                          <div class="staff-module">
                            <h3 class="cat-title"><img src="/static/images/icons/icon_album.svg" alt="icon"
                                class="icon">&nbsp;Album
                            </h3>
                            <hr>
                            <p class="cat-description">Gestion de l'album photo du site.<br>-Ajouter une
                              photo<br>-Approuver une
                              photo<br>-Supprimer une photo<br></p>
                            <a href="/admin/albums/1" class="button button-danger button-view">Gérer</a>
                          </div>
                          <% } if(permissions.includes('ADMINISTRATOR') || permissions.includes('MANAGE_FORUM')){%>
                            <div class="staff-module">
                              <h3 class="cat-title"><img src="/static/images/icons/icon_forum.svg" alt="icon"
                                  class="icon">&nbsp;Forum
                              </h3>
                              <hr>
                              <p class="cat-description">Page de gestion des catégories du forum <br>-Ajouter
                                une catégorie
                                <br>-Modiffier
                                une catégorie<br>-Supprimer une catégorie
                              </p>
                              <a href="/admin/forum" class="button button-danger button-view">Gérer</a>
                            </div>
                            <% } if(permissions.includes('ADMINISTRATOR') || permissions.includes('MANAGE_REQUESTS')){%>
                              <div class="staff-module">
                                <h3 class="cat-title"><img src="/static/images/icons/icon_request.svg" alt="icon"
                                    class="icon">&nbsp;Demandes
                                </h3>
                                <hr>
                                <p class="cat-description">Voir les demandes de la page « contact » du
                                  site.<br>-Voir les
                                  demandes<br>-Traiter
                                  une demande<br>-Supprimer une demande</p>
                                <a href="/admin/demandes/1" class="button button-danger button-view">Gérer</a>
                              </div>
                              <% } if(permissions.includes('ADMINISTRATOR') ||
                                permissions.includes('MANAGE_REQUESTS')){%>
                                <div class="staff-module">
                                  <h3 class="cat-title"><img src="/static/images/icons/icon_modo.svg" alt="icon"
                                      class="icon">&nbsp;Demandes
                                    posts</h3>
                                  <hr>
                                  <p class="cat-description">Voir les demandes de la page « modo » du
                                    site.<br>-Voir les
                                    demandes<br>-Traiter
                                    une demande<br>-Supprimer une demande</p>
                                  <a href="/admin/jobs/1" class="button button-danger button-view">Gérer</a>
                                </div>
                                <% } if(permissions.includes('ADMINISTRATOR') ||
                                  permissions.includes('MANAGE_REQUESTS')){%>
                                  <div class="staff-module">
                                    <h3 class="cat-title"><img src="/static/images/icons/icon_partner.svg" alt="icon"
                                        class="icon">&nbsp;Partenaire</h3>
                                    <hr>
                                    <p class="cat-description">Voir les demandes de la page « partenaire » du
                                      site.<br>-Voir les
                                      demandes<br>-Traiter une demande<br>-Supprimer une demande</p>
                                    <a href="/admin/partners/1" class="button button-danger button-view">Gérer</a>
                                  </div>
                                  <%}%>


      </div>
    </main>
    <%- include ('../include/footer.ejs'); -%>
      <%- include ('../include/bootstrap/bootstrap.js.ejs'); -%>

</body>

</html>