<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <%- include ('include/bootstrap/bootstrap.css.ejs'); -%>
    <!-- CSS FILES -->
    <link  rel="stylesheet" href="/static/css/main.css">
    <link  rel="stylesheet" href="/static/css/footer.css">

    <meta property="og:image" content="https://french-gaming-family.fr/old/public/img/accueil-pc.jpg">
    <meta name="twitter:card" content="summary_large_image">

    <meta name="theme-color" content="#4F98FF">
    <meta property="og:description" content="French Gaming Family, le site francais de multigaming. Forum - Articles - Album - Discord">
    <meta property="og:title" content="French Gaming Family">
    <meta property="og:type" content="website">
    <meta type="og:keywords" content="Gaming, Family, Jeux-vidéos">
    <meta property="twitter:site" content="@SmaugDev">
    <meta property="twitter:site:id" content="@SmaugDev">
    <meta property="twitter:creator" content="@SmaugDev">
    <meta property="twitter:creator:id" content="@SmaugDev">
    <meta name="twitter:image:src" content="https://french-gaming-family.fr/old/public/img/accueil-pc.jpg" >
    <meta name="Description" content="French Gaming Family, le site francais de multigaming. Forum - Articles - Album - Discord">
    <meta name="Category" content="Gaming Site">
    <title>French Gaming Family</title>
  </head>
  <body>
    
    <%- include ('include/nav.ejs'); -%>

<div class="main">
  <h1 class="mb-5 text-center">French Gaming Family Accueil</h1>
  <% if(userConnected.auth){ %>
      <div id="$USER-CONNECTED">
        <h1>Bienvenue !</h1>
      </div>
    <% } %>
</div>


    <%- include ('include/footer.ejs'); -%>
    <%- include ('include/bootstrap/bootstrap.js.ejs'); -%>
  </body>
</html>