<div id=container-author>
    <p>1</p>
    <p>2</p><!--&ensp;-->
    <p>3</p>
    <a href="/forum/message/delete/"><img class="btn-control" src ="/static/images/btn_delete.svg"></a>
    
</div>

<style>

#container-author{
    display: flex;
    justify-content: flex-start;
}
</style>