
   <div class="footer-parent">
        <footer>
            <div class="contenu-footer">
                <div class="bloc footer-services">
                    <h3>Menu</h3>
                    <ul class="liste-services">
                        <li><a href="#">Accueil</a></li>
                        <li><a href="#">Discord</a></li>
                        <li><a href="#">Devenir partenaire</a></li>
                        <li><a href="#">Devenir modo</a></li>
                        <li><a href="#">A propos</a></li>
                    </ul>
                </div>
                <div class="bloc footer-contact">
                    <h3>Restons en contact</h3>
                    <ul class="liste-contact">
                        <li><a href="#">Mail</a></li>
                        <li><a href="#">Formulaire</a></li>
                        <li><a href="#">Discord</a></li>
                    </ul>
                </div>
                <div class="bloc footer-connexion">
                    <h3>Connexion :</h3>
                    <ul class="liste-connexion">
                        <li><a href="#">S'inscrire</a></li>
                        <li><a href="#">Se connecter</a></li>
                    </ul>
                </div>
                <div class="bloc footer-medias">
                    <h3>Nos réseaux</h3>
                    <ul class="liste-medias">
                        <li><a href="#"><img src="/static/images/medias/twitter.svg" id="footer-img">Twitter</a></li>
                        <li><a href="#"><img src="/static/images/medias/facebook.svg" id="footer-img">Facebook</a></li>
                        <li><a href="#"><img src="/static/images/medias/discord.svg" id="footer-img">Discord</a></li>
                        <li><a href="#"><img src="/static/images/medias/instagram.svg" id="footer-img">Instagram</a></li>
                        <li><a href="#"><img src="/static/images/medias/youtube.svg" id="footer-img">Youtube</a></li>
                    </ul>
                </div>
            </div>
            
        </footer>
   </div>
   