
   <div class="footer-parent">
        <footer>
            <div class="contenu-footer">
                <div class="bloc footer-services">
                    <h3 class="footer-subtitle">Menu</h3>
                    <ul class="liste-services">
                        <li><a href="/">Accueil</a></li>
                        <li><a href="https://discord.gg/RjhsJXd">Discord</a></li>
                        <li><a href="/request/partners">Devenir partenaire</a></li>
                        <li><a href="/request/jobs">Devenir modo</a></li>
                        <li><a href="/infos">A propos</a></li>
                    </ul>
                </div>
                <div class="bloc footer-contact">
                    <h3 class="footer-subtitle">Restons en contact</h3>
                    <ul class="liste-contact">
                        <li><a href="blaizeweiss@gmail.com">Mail</a></li>
                        <li><a href="/request">Formulaire</a></li>
                        <li><a href="https://discord.gg/RjhsJXd">Discord</a></li>
                    </ul>
                </div>
                <div class="bloc footer-connexion">
                    <h3 class="footer-subtitle">Connexion :</h3>
                    <ul class="liste-connexion">
                        <li><a href="/member/register">S'inscrire</a></li>
                        <li><a href="/member/login">Se connecter</a></li>
                    </ul>
                </div>
                <div class="bloc footer-medias">
                    <h3 class="footer-subtitle">Nos réseaux</h3>
                    <ul class="liste-medias">
                        <li><a href="https://twitter.com/FGamingFamily?s=09"><img src="/static/images/medias/twitter.svg" id="footer-img">Twitter</a></li>
                        <li><a href="https://www.facebook.com/FrenchGamingFamily"><img src="/static/images/medias/facebook.svg" id="footer-img">Facebook</a></li>
                        <li><a href="https://discord.gg/RjhsJXd"><img src="/static/images/medias/discord.svg" id="footer-img">Discord</a></li>
                        <li><a href="https://www.instagram.com/french_gaming_family"><img src="/static/images/medias/instagram.svg" id="footer-img">Instagram</a></li>
                        <li><a href="https://www.youtube.com/channel/UCAKPauxXArnTWn9WuYldY-Q"><img src="/static/images/medias/youtube.svg" id="footer-img">Youtube</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p style="text-align:center;" class="copy">
                    <span class="fgf-footer"> &copy;2018-2021 FRENCH-GAMING-FAMILY</span><br>
                    <a href="/privacy">Conditions générales d'utilisation</a> | <a href="/terms">Politique de confidentialité</a>
                </p>
            </div>
        </footer>
   </div>
   