<nav id="menu" class="navbar navbar-expand-md navbar-dark navigation-bar">
    <a href="/" class="navbar-brand" href="#"><img class="ban" src="/static/images/elements_site/img_nav.svg" /></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarCollapse"
        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse stroke" id="navbarToggleExternalContent">
        <ul class="navbar-nav ms-auto" style="font-size:98%;">
            <li class="nav-li">
                <a class="nav-link text-white" href="/">ACCUEIL</a>
            </li>
            <li class="nav-li">
                <a class="nav-link text-white" href="/site/announcements/1">ANNONCES</a>
            </li>
            <li class="nav-li">
                <a class="nav-link text-white" href="/album/1">ALBUM</a>
            </li>
            <li class="nav-li">
                <a class="nav-link text-white" href="/articles/1">ARTICLES</a>
            </li>
            <% if(userConnected.auth===true){ %>
                <li id="menu-compte" class="nav-li">
                    <div class="dropdown">
                        <a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" href="#"
                            role="button">MON COMPTE</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/member/account">Profil</a></li>
                            <li><a class="dropdown-item" href="/member/edit">Paramètres</a></li>
                            <li><a class="dropdown-item" href="/member/album/1">Galerie</a></li>
                            <li><a class="dropdown-item" href="/member/articles">Vos articles</a></li>
                            <li><a class="dropdown-item" href="/member/demandes">Vos demandes</a></li>
                            <% if(userConnected.permissions && userConnected.permissions.length && (userConnected.permissions.includes('ADMINISTRATOR')||userConnected.permissions.includes('STAFF'))){ %>
                                <li><a class="dropdown-item" href="/admin">Admin</a></li>
                                <% } %>
                                    <li role="separator" class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/member/disconnection">Déconnexion</a></li>
                        </ul>
                    </div>
                </li>
                <% } else if(!userConnected || !userConnected.auth) { %>
                    <li class="nav-li" class="nav-item">
                        <a class="button button-outline-success" href="/member/login">Connexion</a>
                        <a class="button button-outline-success margin-5-right" href="/member/register">Inscription</a>
                    </li>
                    <% } %>
                        <li class="nav-item">
                            <% if(userConnected.auth===true && userConnected.userAvatar){ %>
                                <img id="avatar" src="/uploads/avatars/<%= userConnected.userAvatar %>">
                                <% } %>
                        </li>
                        <li class="nav-item">
                            <% if(userConnected.auth===true && userConnected.nbMsgs !=undefined){ %>
                                <div class="item">
                                    <a href="/member/messages-prives/page/1" class="navbar-brand">
                                        <%if(userConnected.nbMsgs.length){ %> <span class="notify-badge">NEW</span>
                                            <%}%>
                                                <img id="envelope" src="/static/images/icons/envelope.png" alt="" />
                                    </a>
                                </div>
                                <% } %>
                        </li>

        </ul>
    </div>
</nav>
