<div class="procfile">
	<p class="header-author"><img class="author-avatar" src="/uploads/avatars/<%=user.member_avatar%>" alt="Avatar">
	<p>
	<div class="pr">
		<p>Test !!!!!!!!!!!!!!!!!!!!!</p>
	</div>

</div>

<style>
	.procfile {
		background-color: 'black';
	}

	.pr {
		display: none;
	}

	.procfile:active .pr {
		display: block;
	}
</style>