@import '../theme-variable.css';
#overlay1{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
#overlay1:target{
    display: block;
}
.form-control{
    background: var(--container-color) ;
  }
#overlay2{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
#overlay2:target{
    display: block;
}
.popup_block{
    background: var(--container-color);
    padding: 20px;
    border: 20px solid #ddd;
    position: relative;
    margin: 10% auto;
    width: 40%;
    box-shadow: 0px 0px 20px #000;
    border-radius: 10px;
}
img.button_close {
    float: right;
    margin: -55px -55px 0 0;
}
#button-cancel{
    width : 150px
}
#change-password{
    margin-left: 10px;
}
#conteneur-field-start{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

@media screen and (max-width:700px){
    .popup_block{width: 98%;}
}