@import '../theme-variable.css';
#container{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    flex-wrap: wrap;
    
}

.staff-module{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    width : 25%;
    padding: 1%;
    border: 1px black solid ;
    position: relative;
    background-color: var(--container-color);
}

.icon{
    width: 15%;
    border: 1px black solid;
}

.button-view{position: absolute;bottom:2%;right:2%;}


@media screen and (max-width:1200px){
    .staff-module{
        min-width: 350px;
    }
}