#container{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    flex-wrap: wrap;
}

.staff-section{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    max-width: 80%;
    border: 1px black solid ;
}

.icon{
    width: 15%;
    border: 1px black solid;
}

.btn-view{position: absolute;bottom:2%;right:2%;}