table,td {
    border: 1px solid #333;
}
thead,tfoot {
    background-color: #333;
    color: #fff;
}

#center{
    display: block;
    text-align: center;
}
#table-members{
    margin: auto;
    max-width: 70%;
}
.avatar{width: 60px;border-radius: 50%;}

@media screen and (max-width: 550px){
    table{
        zoom:0.65;
    }
    #table-members{
        margin: auto;
        max-width: 95%;
    }
}