<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link  rel="stylesheet" href="/static/css/main.css">
    <link  rel="stylesheet" href="/static/css/articles/post.css">
    <link  rel="stylesheet" href="/static/css/footer.css">
    <link  rel="stylesheet" href="/static/markdown/css/simplemde.css">
    <script src="/static/markdown/js/simplemde.js"></script>
    <script src="/static/markdown/js/simplemde2.js"></script>
    <title>API Members</title>
  </head>
 <body>
    <%- include ('../include/nav.ejs'); -%>
    <h1 class="mb-5 text-center">Espace de rédaction</h1>

    <div class="container-fluid">
      <section>
        <fieldset class="form-group">
                  <legend>Informations</legend>
                  <ul>
                  <li>Les images : le format recommandé est de 1920x1080.Le format minimum conseillé est de 1280x720.<br>Si votre image n'est pas au bon format,votre publication peut se voir refusée.</li><br>
                  <li>Les paragraphes : Vous pouvez mettre en page vos articles grace au wysiwyg ou à l'aide d'une autre plateforme.</li><br>
                  <li>Les vidéos: Les seules vidéos autorisées sont les vidéos youtube.Vous devez copier/coller le lien de la vidéo pour pouvoir l'envoyer.</li>
                  </ul>
      </fieldset>
          <form action="/member/articles" method="post" class="mt-5" id="create_form" enctype="multipart/form-data">
              
              <fieldset class="form-group">
                  <legend>Type d'article</legend>
                  <div class="form-group d-flex flex-column">
                      <label for="categorie">Catégorie de votre article :</label>
                      <select id="categorie" name="categorie">
                          <option value="1">Console</option>
                          <option value="2">Jeux</option>
                          <option value="3">Informatique</option>
                          <option value="4">Musique</option>
                          <option value="5">Partenaires</option>
                          <option value="6">Divers</option>
                      </select>
                  </div>
              </fieldset>

              <fieldset class="form-group">
                  <legend>Votre article</legend>
                  <div class="form-group d-flex flex-column">

                      <label for="title">Le titre de votre article</label>
                      <input type="text" class="form-control" id="title" name="title" placeholder="Titre" value="Titre">

                      <label for="miniature-upload">Miniature de l'article</label>
                      <input type="file" id="miniature-upload" name="miniature-upload">

                      <label style="font-size:20px;" for="contenu">Ecrivez ci-dessous votre article :</label>
                      <textarea type="hidden" name="contenu" id="contenu" value="Test contenu"></textarea>

                      <h6>Poster votre article :</h6>
                      <button id="btn_submit" type="submit" class="btn btn-primary">Envoyer</button>
              </fieldset>

          </form>
      </section>

  </div>





    <%- include('../include/footer.ejs') %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


  </body>
</html>


<style>
  /* don't mess with MDE textarea attributes */
.mdeContainer {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}
</style>



<script>
  const editMde = new SimpleMDE({
  element: document.getElementById('contenu'),
  initialValue: '',
  hideIcons: ['guide', 'fullscreen', 'side-by-side']
  // guide implmentation is open to you
  // fullscreen and sxs muss up layout
});

</script>
























<!--<link rel="stylesheet" href="/static/markdown/css/simplemde.css">
<script src="/static/markdown/js/simplemde.js"></script>
<script src="/static/markdown/js/simplemde2.js"></script>
<style>
    .mdeContainer {
        display: inline-block;
        width: 48%;
        vertical-align: top;
    }
</style>
<div class="mdeContainer">
    <h2>Edit me</h2>
    <textarea id="editor">
    </textarea>
  </div>
  <div class="mdeContainer">
    <h2>Read-only</h2>
    <div id="reading">
    </div>
  </div>

    <script>
        const editMde = new SimpleMDE({
        element: document.getElementById('editor'),
        initialValue: '## Stuff.... ',
        hideIcons: ['guide', 'fullscreen', 'side-by-side']

    });
editMde.value('# Sample Markdown\n- one\n- two\n- three');

document.getElementById('reading').innerHTML =
      marked('# Sample Markdown\n[Don\'t use Simplemde for read-only content](https://github.com/sparksuite/simplemde-markdown-editor/issues/274#issuecomment-196614437).  Use [marked](https://github.com/markedjs/marked)\n- one\n- two\n- three');
    </script>
    -->


