<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <%- include ('../include/bootstrap/bootstrap.css.ejs'); -%>
    <!-- CSS FILES -->
    <link  rel="stylesheet" href="/static/css/main.css">
    <link  rel="stylesheet" href="/static/css/footer.css">
    <title>API Members</title>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
      function onSubmit(token) {
        document.getElementById("form_register").submit();
      }
    </script>
  </head>
  <body>
    <%- include ('../include/nav.ejs'); -%>
    <div id="form-inscription">
      <h1 class="mb-5 text-center">S'inscrire :</h1>
      <form action="/member/register" method="post" id="form_register">
            <div class="form-group">
                <fieldset class="form-group">
                    <legend>Vos identifiants :</legend> <br>
                    <label for="pseudo">Pseudo : *</label>
                    <input type="text" class="form-control" id="pseudo" name="pseudo">
                    <label for="password1">Mot de passe : *</label>
                    <input type="text" class="form-control" id="password1" name="password1">
                    <label for="password2">Confirmez le mot de passe : *</label>
                    <input type="text" class="form-control" id="password2" name="password2">
                </fieldset>
                <fieldset class="form-group">
                    <legend>Vos informations :</legend> <br>
                    <label for="lastName">Nom :</label>
                    <input type="text" class="form-control" id="lastName" name="lastName">
                    <label for="firstName">Prénom :</label>
                    <input type="text" class="form-control" id="firstName" name="firstName">
                    <label for="age">Age : *</label>
                    <input type="text" class="form-control" id="age" name="age">
                    <label for="email">Email : *</label>
                    <input type="text" class="form-control" id="email" name="email">
                    <label for="phoneNumber">Téléphone :</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
                    <p><input type="checkbox" class="form-check-input" required id="check"> J'ai lu et j'accepte les conditions générales d'utilisation. </p>
      
                    <input class="btn btn-primary"type="submit" name="submit" value="Inscription"/>
                  </fieldset>
            </div>
      </form>
    </div>

    <%- include ('../include/footer.ejs'); -%>
    <%- include ('../include/bootstrap/bootstrap.js.ejs'); -%>

  </body>
</html>