@import "../theme-variable.css";
#container{
    width: var(--width);
    margin-left: var(--margin-left);
}
table,td {
    border: var(--border-size) var(--border-type) var(--border-color);
}
thead,tfoot {
    background-color: var(--background-color);
    color: var(--color);
}

#center{
    display: block;
    text-align: center;
}
#table-articles{
    margin: auto;
    max-width: 80%;
}
#btn-new{
    margin: auto;
    max-width: 80%;
}
#btns-page{text-align: center; padding: 5px;}

@media screen and (max-width: 550px){
    table{
        zoom:0.65;
    }
    .col-date{display: none;}
}