
<!DOCTYPE html>
<html>
    <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Rasp-Home</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/static/css/test.css"></script>

    </head>
    <body>
      <input type="checkbox" id="submenu-toggle" name="submenu-toggle" aria-labelledby="submenu-toggle-label" class="submenu-toggle" />
      <label for="submenu-toggle" class="top-nav-label" id="submenu-toggle-label">
          <span class="open-close-menu">
              <span class="open-menu">Ouvrir le sous-menu</span>
              <span class="close-menu">Fermer le sous-menu</span>
          </span>
      </label>
</body>