
<header id="adminHeader">
    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Accueil Admin</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/admin/members/1">Members</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/admin/articles/1">Articles</a>
      </nav>
</header>